.Box1
{
    border: 2px solid rgb(52,59,70);
    border-radius: 20px;
    padding: 15px;
    width: 60%;
    margin:auto;
    margin-bottom: 10px;
    color: white;
}
.Box1 h2 
{
    font-weight: 600px;
    font-size: 28px;
    cursor: pointer;

}
.Box1 h4
{
    color: rgb(108,115,128);
}
.Box1 p
{
    font-weight: 400px;
    font-size: 15px;
}
.Box1 span 
{
    color: rgb(24,119,152);
    cursor: pointer;
}
.blog
{
    background-color: rgb(35,39,47);
}